# Virtual environments
venv/
penv/
env/
.penv/

# Python cache
__pycache__/
*.pyc

# ML artifacts
artifacts/
results/
*.joblib
*.keras
*.h5
*.pkl

# Logs
*.log

# OS junk
.DS_Store

# Streamlit cache
.streamlit/
