project:
  random_state: 42
  test_size: 0.2

mlp:
  hidden_layers: [256, 256, 256]
  dropout: 0.3
  learning_rate: 0.0001
  batch_size: 16
  epochs: 300

  early_stopping:
    enabled: true
    monitor: val_loss
    patience: 30
    restore_best_weights: true

  validation_split: 0.1
